
<div class="comments-page">
    <h5><%=  @post.title %> by <%= @user.name%></h5>

    <div class="comments-details">
        <p><strong>Text:</strong><%= @post.text %></p>

        <div class="comments-post">
            <p class="card-text"><strong>Comments:</strong> <%= @post.comments_counter %></p>
            <%= form_for [@post, Like.new], url: post_likes_path(@post) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.submit "Like", class: "like-button" %>
            <% end %>
            <p class="card-text"><strong>Likes:</strong> <%= @post.likes_counter %></p>
        </div>
    </div>

    <!-- app/views/posts/show.html.erb -->

    <%= link_to "Add Comment", new_post_comment_path(@post), class: "comment-link" %>


    <h2>Comments</h2>
    <% @post.comments.each do | comment |%>
        <%= render 'shared/comment', comment: comment%>
    <% end %>

</div>
